/env/
*.egg-info
*.cmake
.coverage
coverage.xml
C_src/CMakeCache.txt
C_src/CMakeFiles
C_src/DartConfiguration.tcl
C_src/Makefile
C_src/pybind11
*.so
Testing/
Results/
/build/
*__pycache__
localtests/
*.json
test_inference.txt